# String Based Assignment Problem

1. **Write a program to reverse a string.**

In [ ]:
S = input("Please enter an input: ")

reverse_string = S[::-1]    ##Starting from last index value and going backward by 1 index value to get the reverse srting
print("The reverse string is - ",reverse_string)

Please enter an input: python
The reverse string is -  nohtyp

**2. Check if a string is a palindrome.**

In [ ]:
S = input("Please enter an input: ").lower()

if S == S[::-1]:    ##checking if the actual string matches with the reverse string
  print(f"'{S}' is a palindrome")

else:
  print(f"'{S}' is not a palindrome")

Please enter an input: Radar
'radar' is a palindrome

**3. Convert a string to uppercase.**

In [ ]:
S = input("Please enter an input: ")

upper_string = S.upper()    ##converting the string into the uppercase

print("Ther uppercase value of the string is:", upper_string)

Please enter an input: lowercase
Ther uppercase value of the string is: LOWERCASE

**4. Convert a string to lowercase.**

In [ ]:
S = input("Please enter an input: ")

lower_string = S.lower()    ##converting the string into the lowercase

print("Ther lowercase value of the string is:", lower_string)

Please enter an input: UPPER
Ther lowercase value of the string is: upper

**5. Count the number of vowels in a string.**

In [ ]:
S = input("Please enter an input: ").lower()

N1 = S.count('a')
N2 = S.count('e')
N3 = S.count('i')
N4 = S.count('o')
N5 = S.count('u')

print(f"Total number of vowels in the string input is: {N1+N2+N3+N4+N5}")

Please enter an input: COUNT OF VOWELS
Total number of vowels in the string input is: 5

**6. Count the number of consonants in a string.**

In [ ]:
S = input("Please enter a string input: ").lower()
S.split()
num_of_consonant = 0
X = '[bcdfghjklmnpqrstvwxyz]'
for i in range(len(S)):
    if S[i] in X:
        num_of_consonant += 1

print(f"Number of consonants in the input is: {num_of_consonant}")

Please enter a string input: COUNT OF CONSONANT
Number of consonants in the input is: 10

**7. Remove all whitespaces from a string.**

In [ ]:
S = input("Please enter an input: ")
modified_string = S.replace(" ","") #replacing the spaces with blank to get a string without spaces

print(f"The modified string without spaces is: {modified_string}")

Please enter an input: data science
The modified string without spaces is: datascience

**8. Find the length of a string without using the `len()` function.**

In [ ]:
S = input("Please enter an input: ")
length_of_string = 0

for i in S:
  length_of_string +=1

print(f"The length of the string is: {length_of_string}")

Please enter an input: galaxy
The length of the string is: 6

**9. Check if a string contains a specific word.**

In [ ]:
S1 = input("Please enter a string input: ")
S2 = input("Please enter the specific word: ")

if S2 in S1:
  print("The string input contains the specific word")
else:
  print("The string input doesn't contain the specific word")

Please enter a string input: python is a programming language
Please enter the specific word: python
The string input contains the specific word

**10. Replace a word in a string with another word.**

In [ ]:
S1 = input("Please enter a string input: ").lower()
S2 = input("Please enter the specific word you want to relpace: ").lower()
S3 = input("Please enter the word you want to relpace with: ").lower()

modified_string = S1.replace(S2,S3)
print(f"After replacing the modified string is: '{modified_string}'")

Please enter a string input: I'm learning pyhton
Please enter the specific word you want to relpace: python
Please enter the word you want to relpace with: coding
After replacing the modified string is: 'i'm learning pyhton'

**11. Count the occurrences of a word in a string.**

In [ ]:
def count_of_word(string, word):
  s = string.split()
  count = 0
  for i in range (len(s)):
    if s[i] == word:
      count +=1
  return print(count)
##Printing total number of occurences of a word in the string

count_of_word("i have a pen and a pencil", 'pen')

1

**12. Find the first occurrence of a word in a string.**

In [ ]:
S1 = input("Please enter a string input: ").lower()
S2 = input("Please enter the specific word you want to find: ").lower()
index_of_word = S1.find(S2)
if index_of_word != -1:
  print(f"The first occurrence of the word in the string is at index: {index_of_word}")
else:
  print("The word is not present in the string")

Please enter a string input: hii, i'm learning python
Please enter the specific word you want to find: python
The first occurrence of the word in the string is at index: 18

**13. Find the last occurrence of a word in a string.**

In [ ]:
S1 = input("Please enter a string input: ").lower()
S2 = input("Please enter the specific word you want to find: ").lower()
index_of_word = S1.rfind(S2)
if index_of_word != -1:
  print(f"The last occurrence of the word in the string is at index: {index_of_word}")
else:
  print("The word is not present in the string")

Please enter a string input: i love pizza & pizza is tasty but pizza is a junk food
Please enter the specific word you want to find: pizza
The last occurrence of the word in the string is at index: 34

**14. Split a string into a list of words.**

In [ ]:
S = input("Please enter an input: ")
split_string = S.split()    ##splitting the string into a list of words by using space as a delimiter

print(f"After splitting the string, the list of words is: {split_string}")

Please enter an input: python is a programming language
After splitting the string, the list of words is: ['python', 'is', 'a', 'programming', 'language']

**15. Join a list of words into a string.**

In [ ]:
S = input("Please enter an input: ")
split_string = S.split()
joined_string = ''.join(split_string)    ##joining the list of words into a string

print(f"After joining the list, the joined string is: {joined_string}")

Please enter an input: Christmas is coming
After joining the list, the joined string is: Christmasiscoming

**16. Convert a string where words are separated by spaces to one where words
are separated by underscores.**

In [ ]:
S = input("Please enter an input: ")
modified_string = S.replace(" ","_")    ##replacing the spaces with underscores to get the desired output

print(f"The modified string is: {modified_string}")

Please enter an input: Summer Monsoon Autumn Winter Spring
The modified string is: Summer_Monsoon_Autumn_Winter_Spring

**17. Check if a string starts with a specific word or phrase.**

In [ ]:
S1 = input("Please enter a string input: ").lower()
S2 = input("Please enter the specific word or phrase you want to check: ").lower()

if S1.startswith(S2):
  print("The string input starts with the specific word or phrase")
else:
  print("The string input doesn't start with the specific word or phrase")

Please enter a string input: Practice makes a man perfect
Please enter the specific word or phrase you want to check: Perfect
The string input doesn't start with the specific word or phrase

**18. Check if a string ends with a specific word or phrase.**

In [ ]:
S1 = input("Please enter a string input: ").lower()
S2 = input("Please enter the specific word or phrase you want to check: ").lower()

if S1.endswith(S2):
  print("The string input ends with the specific word or phrase")
else:
  print("The string input doesn't end with the specific word or phrase")

Please enter a string input: Practice makes a man perfect
Please enter the specific word or phrase you want to check: Perfect
The string input ends with the specific word or phrase

**19. Convert a string to title case (e.g., "hello world" to "Hello World").**

In [ ]:
S = input("Please enter an input: ")

title_case = S.title()    ##converting the string into title case

print(f"The title case of the string is: {title_case}")

Please enter an input: old is gold
The title case of the string is: Old Is Gold

**20. Find the longest word in a string.**

In [ ]:
S = input("Please enter an input: ")
split_string = S.split()
max_length = 0
for word in split_string:
    if len(word) > max_length:
        max_length = len(word)
        longest_word = word
print(f"The longest word in the string is: {longest_word}")

Please enter an input: seasons are changing
The longest word in the string is: changing

**21. Find the shortest word in a string.**

In [ ]:
S = input("Please enter an input: ")
split_string = S.split()
min_length = len(split_string[0])
for word in split_string:
    if len(word) < min_length:
        min_length = len(word)
        shortest_word = word
print(f"The shortest word in the string is: {shortest_word}")

Please enter an input: earth is not round in shape
The shortest word in the string is: is

**22. Reverse the order of words in a string.**

In [ ]:
S = input("Please enter an input: ")
split_string = S.split()
reversed_string = ' '.join(reversed(split_string))
print(f"The reversed string is: {reversed_string}")

Please enter an input: AI is future
The reversed string is: future is AI

**23. Check if a string is alphanumeric.**

In [ ]:
S = input("Please enter an input: ")
if S.isalnum() == True:
  print("The string is alphanumeric")
else:
  print("The string is not alphanumeric")

Please enter an input: %$#
The string is not alphanumeric

**24. Extract all digits from a string.**

In [ ]:
S = input("Please enter an input: ")
digits = ''
for i in S:
    if i.isdigit():
        digits += i
print(f"The digits in the string are: {digits}")

Please enter an input: ri55275624ya1234588
The digits in the string are: 552756241234588

**25. Extract all alphabets from a string.**

In [ ]:
S = input("Please enter an input: ")
alphabets = ''
for i in S:
    if i.isalpha():
        alphabets += i
print(f"The alphabets in the string are: {alphabets}")

Please enter an input: gr5544ea9988t
The alphabets in the string are: great

**26. Count the number of uppercase letters in a string.**

In [ ]:
S = input("Please enter an input: ")
num_letters = 0
for i in S:
  if i.isupper():
    num_letters += 1
print(f"the number of uppercase ltter in the string input is: {num_letters}")

Please enter an input: The work is not DONE yet, I need some more TIME
the number of uppercase ltter in the string input is: 10

**27. Count the number of lowercase letters in a string.**

In [ ]:
S = input("Please enter an input: ")
num_letters = 0
for i in S:
  if i.islower():
    num_letters += 1
print(f"the number of lowercase ltter in the string input is: {num_letters}")

Please enter an input: Practice makes a coder PERFECT
the number of lowercase ltter in the string input is: 18

**28. Swap the case of each character in a string.**

In [ ]:
S = input("Please enter an input: ")
swapped_case = S.swapcase()
print(f"The swapped case of each character in the string is: {swapped_case}")

Please enter an input: Mondays are BUSY days
The swapped case of each character in the string is: mONDAYS ARE busy DAYS

**29. Remove a specific word from a string.**

In [ ]:
S = input("Please enter an input: ").lower()
S1 = input("Please enter the specific word you want to remove: ").lower()
modified_string = S.replace(S1, "")
print(f"After removing the specific word, the modified string is: {modified_string}")

Please enter an input: The python programming is cool
Please enter the specific word you want to remove: Python
After removing the specific word, the modified string is: the  programming is cool

**30. Check if a string is a valid email address.**

In [ ]:
import re
email = input("Please enter an email address: ")
regex = r'^[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w{2,3}$'
if re.search(regex, email):
  print("The email address is valid")
else:
  print("The email address is not valid")

Please enter an email address: abc@def.coi
The email address is valid

**31. Extract the username from an email address string.**

In [ ]:
email = input("Please enter an email address: ")
username = email.split('@')[0]
print(f"The username in the email address is: {username}")

Please enter an email address: fri@grh.npy
The username in the email address is: fri

**32. Extract the domain name from an email address string.**

In [ ]:
email = input("Please enter an email address: ")
domain_name = email.split('@')[1]
print(f"The domain name in the email address is: {domain_name}")

Please enter an email address: feg@trp.npc
The domain name in the email address is: trp.npc

**33. Replace multiple spaces in a string with a single space.**

In [ ]:
import re
S = input("Please enter an input: ")
modified_string = re.sub(' +', ' ', S)
print(f"After replacing multiple spaces with a single space, the modified string is: {modified_string}")

Please enter an input: hi there,   i need   more   skills
After replacing multiple spaces with a single space, the modified string is: hi there, i need more skills

**34. Check if a string is a valid URL.**

In [ ]:
import re

url = input("Please enter a URL: ")
regex = r'https?://(www.)?[a-zA-Z0-9]+(\.[a-zA-Z]{2,})+'
if re.search(regex, url):
  print("The URL is valid")
else:
  print("The URL is not valid")

Please enter a URL: https://colab.research.google.com/drive/1P2lI0T30CwhOSiNfFmzyt-sUrSz4ORgx#scrollTo=giYPKCKKDDjY
The URL is valid

**35. Extract the protocol (http or https) from a URL string.**

In [ ]:
url = input("Please enter a URL: ")
protocol = url.split(':')[0]
print(f"The protocol in the URL is: {protocol}")

Please enter a URL: https://colab.research.google.com/drive/1P2lI0T30CwhOSiNfFmzyt-sUrSz4ORgx#scrollTo=6ARCkN3CDDd5
The protocol in the URL is: https

**36. Find the frequency of each character in a string.**

In [ ]:
S = input("Please enter an input: ")
char_frequency = {}
for char in S:
    if char in char_frequency:
        char_frequency[char] += 1
    else:
        char_frequency[char] = 1
print(f"The frequency of each character in the string is: {char_frequency}")

Please enter an input: food777****
The frequency of each character in the string is: {'f': 1, 'o': 2, 'd': 1, '7': 3, '*': 4}

**37. Remove all punctuation from a string.**

In [ ]:
import re

S = input("Please enter an input: ")
cleaned_string = re.sub('[^a-zA-Z0-9]', '', S)
print(f"After removing all punctuation, the cleaned string is: {cleaned_string}")

Please enter an input: hi there! it was a good way of learning
After removing all punctuation, the cleaned string is: hithereitwasagoodwayoflearning

**38. Check if a string contains only digits.**

In [ ]:
S = input("Please enter an input: ")
if S.isdigit() == True:
  print("The string contains only digits")
else:
  print("The string contains non-digit characters")

Please enter an input: 5487
The string contains only digits

**39. Check if a string contains only alphabets.**

In [ ]:
S = input("Please enter an input: ")
if S.isalpha() == True:
  print("The string contains only alphabets")
else:
  print("The string contains non-alphabet characters")

Please enter an input: rddddd
The string contains only alphabets

**40. Convert a string to a list of characters.**

In [ ]:
S = input("Please enter an input: ")
split_string = list(S)
print(f"The string converted to a list of characters is: {split_string}")

Please enter an input: I've 10 rs
The string converted to a list of characters is: ['I', "'", 'v', 'e', ' ', '1', '0', ' ', 'r', 's']

**41. Check if two strings are anagrams.**

In [ ]:
S1 = input("Please enter the first string: ").lower()
S2 = input("Please enter the second string: ").lower()
if sorted(S1) == sorted(S2):
  print("The two strings are anagrams")
else:
  print("The two strings are not anagrams")

Please enter the first string: silent
Please enter the second string: listen
The two strings are anagrams

**42. Replace negative numbers in a list with 0.**

In [ ]:
list1 = [-8,-9,-23,-16,-13,-12,-3]
for i in range(len(list1)):
    if list1[i] < 0:
        list1[i] = 0

print(list1)

[0, 0, 0, 0, 0, 0, 0]

**43. Decode a Caesar cipher encoded string.**

In [ ]:
def decode_caesar_cipher(encoded_string, shift):
    decoded_string = ''
    for char in encoded_string:
        if char.isalpha():
            char_code = ord(char)
            if char.isupper():
                char_code -= shift
                if char_code < ord('A'):
                    char_code += 26
            else:
                char_code -= shift
                if char_code < ord('a'):
                    char_code += 26
            decoded_string += chr(char_code)
        else:
            decoded_string += char
    return decoded_string

encoded_string = input("Enter the encoded string: ")
shift = int(input("Enter the shift value: "))

decoded_string = decode_caesar_cipher(encoded_string, shift)

print(f"The decoded string is: {decoded_string}")

Enter the encoded string: rfhdq
Enter the shift value: 3
The decoded string is: ocean

**44. Find the most frequent word in a string.**

In [ ]:
S = input("Please enter an input: ").lower()
words = S.split()
word_count = {}
for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

most_frequent_word = max(word_count, key=word_count.get)
print(f"The most frequent word in the string is: {most_frequent_word}")

Please enter an input: hi, it's me, i want to complete the assignment as soon as possible
The most frequent word in the string is: as

**45. Find all unique words in a string.**

In [ ]:
S = input("Please enter an input: ").lower()
words = S.split()
unique_words = set(words)
print(f"The unique words in the string are: {unique_words}")

Please enter an input: why there is a why
The unique words in the string are: {'why', 'a', 'is', 'there'}

**46. Count the number of syllables in a string.**

In [ ]:
import re
S = input("Please enter an input: ")
syllable_count = 0
for word in S.split():
    syllable_count += len(re.findall(r'[AEIOUaeiouY]', word))
print(f"The number of syllables in the string is: {syllable_count}")

Please enter an input: hi there
The number of syllables in the string is: 3

**47. Check if a string contains any special characters.**

In [ ]:
def contains_special_characters(input_string):
    # Define a set of special characters
    special_characters = set("!@#$%^&*()_-+=[]{}|;:'\",.<>?`~")

    # Iterate through each character in the string
    for char in input_string:
        # Check if the character is in the set of special characters
        if char in special_characters:
            return True  # The string contains at least one special character

    return False  # The string does not contain any special characters

# Example usage
text = "hey there! I'm using Whatsapp"
if contains_special_characters(text):
    print(f'The string "{text}" contains special characters.')
else:
    print(f'The string "{text}" does not contain special characters.')

The string "hey there! I'm using Whatsapp" contains special characters.

**48. Remove the nth word from a string.**

In [ ]:
def remove_nth_word(input_string, n):
    # Split the string into words
    words = input_string.split()

    # Check if the specified index is within the range of words
    if 1 <= n <= len(words):
        # Remove the nth word
        del words[n - 1]

        # Join the remaining words back into a string
        result_string = ' '.join(words)
        return result_string
    else:
        # If the specified index is out of range, return the original string
        return input_string

# Example usage
input_string = "This is a sample sentence to demonstrate removing the nth word."
n = 6
result = remove_nth_word(input_string, n)
print(result)

This is a sample sentence demonstrate removing the nth word.

**49. Insert a word at the nth position in a string.**

In [ ]:
def insert_word_at_nth_position(input_string, n, new_word):
    # Split the string into words
    words = input_string.split()

    # Check if the specified index is within the range of words
    if 0 <= n <= len(words):
        # Insert the new word at the nth position
        words.insert(n, new_word)

        # Join the words back into a string
        result_string = ' '.join(words)
        return result_string
    else:
        # If the specified index is out of range, return the original string
        return input_string

# Example usage
input_string = "This is a sample sentence to demonstrate inserting a word."
n = 5
new_word = "insert"
result = insert_word_at_nth_position(input_string, n, new_word)
print(result)

This is a sample sentence insert to demonstrate inserting a word.

**50. Convert a CSV string to a list of lists.**

In [ ]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize the result list
    csv_list = []

    for line in lines:
        # Split each line into columns
        columns = line.split(',')

        # Append the columns to the result list
        csv_list.append(columns)

    return csv_list

# Example usage
csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"
result = csv_string_to_list(csv_string)
print(result)

[['1', 'John', 'Doe'], ['2', 'Jane', 'Smith'], ['3', 'Bob', 'Johnson']]

## List Based Practice Problem

**1. Create a list with integers from 1 to 10.**

In [ ]:
def creating_list():
  List = []                ##Creating an empty list
  for i in range(1,11):     ##Taking 1 to 11, because range function eleminate the last element
    List.append(i)
  return List             ##Returning the appended list

X = creating_list()
print(X)                 ##Printing 1 to 10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**2. Find the length of a list without using the `len()` function.**

In [ ]:
L2 = [5,7,2,23.5,6,8,9,'RD',9,"length"]           ##Taking a list with random elements
Length_of_list = 0                                  ##Assigning 0 as the value of the length of list

for i in L2:
  Length_of_list += 1                               ##Adding 1 to the length of the list for each item in the list
print("The length of the list is:", Length_of_list)   ##Printing the length of the list

The length of the list is: 10

**3. Append an element to the end of a list.**

In [ ]:
L3 = [1,2,3,4,5,6,7,8,9,10]             ##Taking a list of integers 1 to 10

L3.append(11)                          ##Appending one more element to the list
print(L3)                              ##Printing the list after appending an element to the end of the list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

**4. Insert an element at a specific index in a list.**

In [ ]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Element to insert
element_to_insert = 10

# Index at which to insert the element
index_to_insert = 2

# Insert the element at the specified index
my_list.insert(index_to_insert, element_to_insert)

# Print the modified list
print(my_list)

[1, 2, 10, 3, 4, 5]

**5. Remove an element from a list by its value.**

In [ ]:
|# Original list
my_list = [1, 2, 3, 7, 4, 5, 3]

# Element to remove
element_to_remove = 7

# Remove the element from the list
my_list.remove(element_to_remove)

# Print the modified list
print(my_list)

[1, 2, 3, 4, 5, 3]

**6. Remove an element from a list by its index.**

In [ ]:
# Original list
my_list = [2,8,7,6,5]

# Index of the element to remove
index_to_remove = 2

# Remove the element at the specified index
removed_element = my_list.pop(index_to_remove)

# Print the modified list and the removed element
print(f"The modified list: {my_list}")
print(f"The removed element at index {index_to_remove}: {removed_element}")

The modified list: [2, 8, 6, 5]
The removed element at index 2: 7

**7. Check if an element exists in a list.**

In [ ]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Element to check
element_to_check = 7

# Check if the element exists in the list
if element_to_check in my_list:
    print(f"The element {element_to_check} exists in the list.")
else:
    print(f"The element {element_to_check} does not exist in the list.")

The element 7 does not exist in the list.

**8. Find the index of the first occurrence of an element in a list.**

In [ ]:
try:
  # Original list
  my_list = [1, 9, 6, 0, 1, 3, 2, 3, 4, 5, 3]

  # Element to find
  element_to_find = 3

  # Find the index of the first occurrence of the element
  index_of_element = my_list.index(element_to_find)

  # Print the index
  print(f"The index of the first occurrence of {element_to_find} is: {index_of_element}")
except ValueError :
  print("The element {element_to_find} is not in the list")

The index of the first occurrence of 3 is: 5

**9. Count the occurrences of an element in a list.**

In [ ]:
try:
  # Original list
  my_list = [1, 9, 6, 3, 0, 1, 3, 2, 3, 4, 5, 3]

  # Element to count
  element_to_count = 3

  # Count number of times the element is present in the list
  number_of_count = my_list.count(element_to_count)

  # Print the count
  print(f"The number of times the element  {element_to_count} is present in the list is: {number_of_count}")
except ValueError :
  print("The element {element_to_find} is not in the list")

The number of times the element  3 is present in the list is: 4

**10. Reverse the order of elements in a list.**

In [ ]:
def my_list():
  original_list = [2, 6, 24, 7, 10, "rd", 0.5]      ##Taking a list with random elements
  original_list.reverse()                            ##Reversing the list elements by using reverse function
  return original_list                              ##Printing the reversed list

##Driver code
X = my_list()
print(X)

[0.5, 'rd', 10, 7, 24, 6, 2]

**11. Sort a list in ascending order.**

In [ ]:
def sort_list():
    my_list = [2, 6, 24, 7, 10, 0.5, 18]

    # Sort the list in ascending order using sort()
    ascending_order = sorted(my_list)

    return ascending_order

# Driver code
ascending = sort_list()
print("Ascending Order:", ascending)

Ascending Order: [0.5, 2, 6, 7, 10, 18, 24]

**12. Sort a list in descending order.**

In [ ]:
def sort_list():
    my_list = [5, 23, 41, 21, 2, 0.5, 1.008]

    ## Sort the list by using sort function
    descending_order = sorted(my_list)
    ## Reversing the order of the list to get descending order of elements
    descending_order.reverse()

    return descending_order

## Driver code
descending = sort_list()
print("Descending Order:", descending)

Descending Order: [41, 23, 21, 5, 2, 1.008, 0.5]

**13. Create a list of even numbers from 1 to 20.**

In [ ]:
def even_num():
  even_numbers = []                           ##Creating an empty list
  for i in range(1,21):                         ##Taking 20+1=21 as the range, cause range will ignore the last element
    if i%2 == 0:                              ##Checking if the number is even
      even_numbers.append(i)                 ##Appending the even numbers into the empty llist
    else:
      continue                               ##Continue to the next element if the element is odd
  return even_numbers                      ##Returning the list of even numbers

##Driver code
even_numbers_list = even_num()
print(even_numbers_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**14. Create a list of odd numbers from 1 to 20.**

In [ ]:
def odd_num():
  odd_numbers = []                           ##Creating an empty list
  for i in range(1,21):                         ##Taking 20+1=21 as the range, cause range will ignore the last element
    if i%2 == 1:                              ##Checking if the number is odd
      odd_numbers.append(i)                 ##Appending the odd numbers into the empty llist
    else:
      continue                               ##Continue to the next element if the element is even
  return odd_numbers                      ##Returning the list of odd numbers

##Driver code
odd_numbers_list = odd_num()
print(odd_numbers_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

**15. Find the sum of all elements in a list.**

In [ ]:
def my_list():
  list_01 = [1, 2, 3, 4, 5, 6, 7]        ##Taking a list of 1 to 7
  sum_of_elements = 0                  ##Creating a variable 'sum_of_elements' & assigning 0 value to this variasble
  for i in list_01:
    sum_of_elements += i               ##Adding values of each element in the list one by one to the variable
  return sum_of_elements              ##Returning the result of summation

##Driver code
result = my_list()
print(result)

28

**16. Find the maximum value in a list.**

In [ ]:
def my_list():
  list_01 = [2, 5, 3, 12, 18, 7, 21, 13, 6]         ##Taking a list with random numbers
  max_value = 0                                   ##Creating a variable & assigning 0 as value to this variable

  for i in range(len(list_01)):
    if list_01[i] > max_value:                      ##Checking if the value is greater than the max_value
      max_value = list_01[i]

  return max_value

##Driver code
result = my_list()
print(result)

21

**17. Find the minimum value in a list.**

In [ ]:
def my_list():
  list_01 = [0, 5, 3, 1, 2, 18, 7, 21, 13, 6]        ##Taking a list with random numbers
  min_value = list_01[0]                            ##Initialize min_value with the first element of the list

  for value in list_01:                              ##Iterate through the list to find the minimum value
    if value < min_value:
      min_value = value

  return min_value

##Driver code
result = my_list()
print(result)

0

**18. Create a list of squares of numbers from 1 to 10.**

In [ ]:
def squares_list():
    squares = []
    for x in range(1, 11):            ## Iterate through numbers from 1 to 10
        square = x ** 2
        squares.append(square)      ## Return the list of squares
    return squares

# Driver code
result = squares_list()
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**19. Create a list of random numbers.**

In [ ]:
import random

# Create a list of 10 random numbers between 0 and 100
random_list = random.sample(range(0, 101), 10)

# Print the list
print(random_list)

[99, 94, 37, 20, 84, 34, 58, 83, 23, 49]

**20. Remove duplicates from a list.**

In [ ]:
def remove_duplicates(original_list):
    unique_list = []

    for item in original_list:
        if item not in unique_list:
            unique_list.append(item)

    return unique_list

##Driver code
original_list = [1, 2, 3, 3, 2, 4, 5, 1]
result = remove_duplicates(original_list)
print(result)

[1, 2, 3, 4, 5]

**21. Find the common elements between two lists.**

In [ ]:
def common_elements(list_01, list_02):
  elements = []
  for item in list_01:
    if item in list_02:
      elements.append(item)
  return elements

##Driver code
list_01 = [1, 2, 21, 5, 7, 24]
list_02 = [2, 5, 7, 10, 18, 7, 3]
result = common_elements(list_01, list_02)
print(result)

[2, 5, 7]

**22. Find the difference between two lists.**

In [ ]:
def difference_between_lists(list1, list2):
    difference_list = []

    ##Check elements in list1 not in list2
    for item in list1:
        if item not in list2:
            difference_list.append(item)

    ##Check elements in list2 not in list1
    for item in list2:
        if item not in list1:
            difference_list.append(item)

    return difference_list

##Driver code
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

result = difference_between_lists(list1, list2)
print(result)

[1, 2, 6, 7]

**23. Merge two lists.**

In [ ]:
def merge_lists(list1, list2):
    merged_list = list1 + list2
    return merged_list

##Driver code
list1 = [1, 2, 3, 4]
list2 = [4, 5, 6]

result = merge_lists(list1, list2)
print(result)

[1, 2, 3, 4, 4, 5, 6]

**24. Multiply all elements in a list by 2.**

In [ ]:
def multiply_by_two(input_list):
    multiplied_list = []

    for element in input_list:
        multiplied_list.append(element * 2)

    return multiplied_list

##Driver code
original_list = [1, 2, 3, 4, 5]
result = multiply_by_two(original_list)
print(result)

[2, 4, 6, 8, 10]

**25. Filter out all even numbers from a list.**

In [ ]:
def even_num(original_list):
  even_num_list = []
  for i in original_list:
    if i%2 == 0:
      even_num_list.append(i)
  return even_num_list

##Driver code
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = even_num(original_list)
print(result)

[2, 4, 6, 8, 10]

**26. Convert a list of strings to a list of integers.**

In [ ]:
def convert_to_integers(string_list):
    integer_list = []

    for element in string_list:
        integer_list.append(int(element))

    return integer_list

##Example usage
string_list = ['1', '2', '3', '4', '5']
result = convert_to_integers(string_list)
print(result)

[1, 2, 3, 4, 5]

**27. Convert a list of integers to a list of strings.**

In [ ]:
def convert_to_strings(integer_list):
    string_list = []

    for element in integer_list:
        string_list.append(str(element))

    return string_list

##Example usage
integer_list = [1, 2, 3, 4, 5]
result = convert_to_strings(integer_list)
print(result)

['1', '2', '3', '4', '5']

**28. Flatten a nested list.**

In [ ]:
def flatten_nested_list(nested_list):
    flat_list = []

    for element in nested_list:
        if isinstance(element, list):
            flat_list.extend(flatten_nested_list(element))
        else:
            flat_list.append(element)

    return flat_list

##Example usage
nested_list = [1, [2, [3, 4], 4, 5], 6, [7, 8]]
result = flatten_nested_list(nested_list)
print(result)

[1, 2, 3, 4, 4, 5, 6, 7, 8]

**29. Create a list of the first 10 Fibonacci numbers.**

In [ ]:
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  # Initialize with the first two Fibonacci numbers

    while len(fibonacci_list) < n:
        next_number = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_number)

    return fibonacci_list[:n]

##Example usage
result = generate_fibonacci(10)
print(result)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

**30. Check if a list is sorted.**

In [ ]:
def is_sorted(input_list):
    for i in range(len(input_list) - 1):
        if input_list[i] > input_list[i + 1]:
            return False
    return True

##Example usage
sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [3, 1, 4, 1, 5, 9, 2, 6]

##Check if the lists are sorted
print(is_sorted(sorted_list))
print(is_sorted(unsorted_list))

True
False

**31. Rotate a list to the left by `n` positions.**

In [ ]:
def rotate_left(input_list, n):
    n = n % len(input_list)                               ##If n is larger than the length of the list
    rotated_list = input_list[n:] + input_list[:n]
    return rotated_list

##Example usage
original_list = [1, 2, 3, 4, 5]
rotation_amount = 2

result = rotate_left(original_list, rotation_amount)

print(result)

[3, 4, 5, 1, 2]

**32. Rotate a list to the right by `n` positions.**

In [ ]:
def rotate_right(input_list, n):
    n = n % len(input_list)                               ##If n is larger than the length of the list
    rotated_list = input_list[-n:] + input_list[:-n]
    return rotated_list

##Example usage
original_list = [1, 2, 3, 4, 5]
rotation_amount = 2

result = rotate_right(original_list, rotation_amount)
print(result)

[4, 5, 1, 2, 3]

**33. Create a list of prime numbers up to 50.**

In [ ]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = []
for num in range(2, 51):
    if is_prime(num):
        prime_numbers.append(num)

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

**34. Split a list into chunks of size `n`.**

In [ ]:
def split_into_chunks(input_list, n):
    chunks = []
    for i in range(0, len(input_list), n):
        chunk = input_list[i:i + n]
        chunks.append(chunk)
    return chunks

##Example usage
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3

##Generate chunks
chunks = split_into_chunks(original_list, chunk_size)
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

**35. Find the second largest number in a list.**

In [ ]:
def nth_largest_number(input_list, n):
    if len(input_list) < n:
        return f"List should have at least {n} elements"

    sorted_numbers = sorted(input_list, reverse=True)

    nth_largest = sorted_numbers[n - 1]

    return nth_largest

##Example usage
numbers = [4, 7, 1, 9, 3, 8, 5, 2]
n_value = 2

result = nth_largest_number(numbers, n_value)
print(result)

8

**36. Replace every element in a list with its square.**

In [ ]:
def square_elements(input_list):
    squared_list = [x ** 2 for x in input_list]
    return squared_list

##Example usage
original_list = [2, 5, 6, 7, 2.05]
result = square_elements(original_list)
print(result)

[4, 25, 36, 49, 4.2025]

**37. Convert a list to a dictionary where list elements become keys and their
indices become values.**

In [ ]:
def list_to_dict(input_list):
    result_dict = {}
    for index in range(len(input_list)):
        result_dict[input_list[index]] = index
    return result_dict

##Example usage
original_list = ['apple', 'banana', 'orange', 'grape']

result = list_to_dict(original_list)
print(result)

{'apple': 0, 'banana': 1, 'orange': 2, 'grape': 3}

**38. Shuffle the elements of a list randomly.**

In [ ]:
import random

def shuffle_list(input_list):
    shuffled_list = input_list.copy()  # Create a copy to avoid modifying the original list
    random.shuffle(shuffled_list)
    return shuffled_list

##Example usage
original_list = [1, 2, 3, 4, 5]

shuffled_result = shuffle_list(original_list)
print(shuffled_result)

[5, 2, 1, 3, 4]

**39. Create a list of the first 10 factorial numbers.**

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_list = [factorial(i) for i in range(10)]

# Print the result
print(factorial_list)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

**40. Check if two lists have at least one element in common.**

In [ ]:
def common_elements(list1, list2):
    return any(element in list1 for element in list2)

# Example usage
list_a = [1, 2, 3, 4, 5]
list_b = [4, 5, 6, 7, 8, 9]

result = common_elements(list_a, list_b)

# Print the result
if result:
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

**41. Remove all elements from a list.**

In [ ]:
def remove_all_elements(input_list):
    input_list.clear()

##Example usage
original_list = [1, 2, 3, 4, 5]

remove_all_elements(original_list)
print(original_list)

[]

**42. Replace negative numbers in a list with 0.**

In [ ]:
def replace_num(input_list):
    for i in range(len(input_list)):
        if input_list[i] < 0:
            input_list[i] = 0
    return input_list

##Example usage
original_list = [1, -2, 3, -4, 5, -6]

result = replace_num(original_list)
print(result)

[1, 0, 3, 0, 5, 0]

**43. Convert a string into a list of words.**

In [ ]:
def string_to_word_list(input_string):
    word_list = input_string.split()
    return word_list

##Example usage
sentence = "Hello, this is a sample sentence."

result = string_to_word_list(sentence)
print(result)

['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

**44. Convert a list of words into a string.**

In [ ]:
def word_list_to_string(word_list):
    string_result = ' '.join(word_list)
    return string_result

##Example usage
words = ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

result = word_list_to_string(words)
print(result)

Hello, this is a sample sentence.

**45. Create a list of the first `n` powers of 2.**

In [ ]:
def powers_of_2(n):
    return [2 ** i for i in range(n)]

##Example usage
n = 5  ##Number of powers of 2

result = powers_of_2(n)
print(result)

[1, 2, 4, 8, 16]

**46. Find the longest string in a list of strings.**

In [ ]:
def longest_string(strings):
    max_length = 0
    longest = ""
    for i in strings:
        if len(i) > max_length:
            max_length = len(i)
            longest = i
    return longest


##Example usage
string_list = ['coconut', 'pistachio', 'music', 'python']

longest = longest_string(string_list)
print("The longest string is:", longest)

The longest string is: pistachio

**47. Find the shortest string in a list of strings.**

In [ ]:
def shortest_string(strings):
    min_length = float('inf')
    shortest = ""
    for i in strings:
        if len(i) < min_length:
            min_length = len(i)
            shortest = i
    return shortest

##Example usage
string_list = ['coconut', 'pistachio', 'music', 'python', 'r']

shortest_str = shortest_string(string_list)
print("The longest string is:", shortest_str)

The longest string is: r

**48. Create a list of the first `n` triangular numbers.**

In [ ]:
def triangular_numbers(n):
    return [(i * (i + 1)) // 2 for i in range(1, n + 1)]

##Example usage
n = 10  # Number of triangular numbers

result = triangular_numbers(n)
print(result)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

**49. Check if a list contains another list as a subsequence.**

In [ ]:
def is_subsequence(main_list, subsequence):
    # Initialize indices for both lists
    main_index = 0
    sub_index = 0

    # Iterate through the main list
    while main_index < len(main_list) and sub_index < len(subsequence):
        # If the current element matches, move to the next element in the subsequence
        if main_list[main_index] == subsequence[sub_index]:
            sub_index += 1
        # Move to the next element in the main list
        main_index += 1

    # If all elements of the subsequence have been found, it's a subsequence
    return sub_index == len(subsequence)

# Example usage
main_list = [1, 2, 3, 4, 5, 6, 7, 8]
subsequence = [2, 4, 6]

result = is_subsequence(main_list, subsequence)

# Print the result
if result:
    print("The subsequence is present in the main list.")
else:
    print("The subsequence is not present in the main list.")

The subsequence is present in the main list.

**50. Swap two elements in a list by their indices.**

In [ ]:
def swap_elements(input_list, index1, index2):
    # Check if indices are within the bounds of the list
    if 0 <= index1 < len(input_list) and 0 <= index2 < len(input_list):
        # Swap the elements
        input_list[index1], input_list[index2] = input_list[index2], input_list[index1]
    else:
        print("Indices are out of bounds.")

# Example usage
my_list = [1, 2, 3, 4, 5]
print("Original list:", my_list)

# Swap elements at indices 1 and 3
swap_elements(my_list, 1, 3)
print("After swapping:", my_list)

Original list: [1, 2, 3, 4, 5]
After swapping: [1, 4, 3, 2, 5]

## Tuple Based Practice Problem

**1. Create a tuple with integers from 1 to 5.**

In [ ]:
my_tuple = tuple(range(1, 6))
print(my_tuple)

(1, 2, 3, 4, 5)

**2. Access the third element of a tuple.**

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]
print(third_element)

3

**3. Find the length of a tuple without using the `len()` function.**

In [ ]:
def tuple_length(my_tuple):
    count = 0
    for i in my_tuple:
        count += 1
    return count

# Example usage
my_tuple = (1, 2, 3, 4, 5)
length = tuple_length(my_tuple)
print("Length of the tuple:", length)

Length of the tuple: 5

**4. Count the occurrences of an element in a tuple.**

In [ ]:
def count_occurrences(my_tuple, element):
    count = 0
    for item in my_tuple:
        if item == element:
            count += 1
    return count

# Example usage
my_tuple = (1, 2, 2, 3, 4, 2, 5)
element = 2
occurrences = count_occurrences(my_tuple, element)
print("Occurrences of", element, "in the tuple:", occurrences)

Occurrences of 2 in the tuple: 3

**5. Find the index of the first occurrence of an element in a tuple.**

In [ ]:
def first_occurrence_index(my_tuple, element):
    try:
        index_element = my_tuple.index(element)
        return index_element
    except ValueError:
        return -1  # Element not found in the tuple

# Example usage
my_tuple = (1, 2, 3, 4, 5, 2, 6)
element = 2
index = first_occurrence_index(my_tuple, element)
if index != -1:
    print("Index of the first occurrence of", element, "in the tuple:", index)
else:
    print("Element not found in the tuple.")

Index of the first occurrence of 2 in the tuple: 1

**6. Check if an element exists in a tuple.**

In [ ]:
def element_exists(my_tuple, element):
    return element in my_tuple

# Example usage
my_tuple = (1, 2, 3, 4, 5)
element = 7
if element_exists(my_tuple, element):
    print(element, "exists in the tuple.")
else:
    print(element, "does not exist in the tuple.")

7 does not exist in the tuple.

**7. Convert a tuple to a list.**

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (1, 2, 3, 4, 5)
List: [1, 2, 3, 4, 5]

**8. Convert a list to a tuple.**

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print("List:", my_list)
print("Tuple:", my_tuple)

List: [1, 2, 3, 4, 5]
Tuple: (1, 2, 3, 4, 5)

**9. Unpack the elements of a tuple into variables.**

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
first, *middle, last = my_tuple

print("First:", first)
print("Middle:", middle)
print("Last:", last)

First: 1
Middle: [2, 3, 4]
Last: 5

**10. Create a tuple of even numbers from 1 to 10.**

In [ ]:
even_numbers = tuple(num for num in range(2, 11, 2))
print(even_numbers)

(2, 4, 6, 8, 10)

**11. Create a tuple of odd numbers from 1 to 10.**

In [ ]:
odd_numbers = tuple(num for num in range(1, 11, 2))
print(odd_numbers)

(1, 3, 5, 7, 9)

**12. Concatenate two tuples.**

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

**13. Repeat a tuple three times.**

In [ ]:
original_tuple = (1, 2, 3)
repeated_tuple = original_tuple * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

**14. Check if a tuple is empty.**

In [ ]:
my_tuple = ()  # An empty tuple
if len(my_tuple) == 0:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

**15. Create a nested tuple.**

In [ ]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(nested_tuple)

((1, 2), (3, 4), (5, 6))

**16. Access the first element of a nested tuple.**

In [ ]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
first_element = nested_tuple[0][0]
print("First element of the nested tuple:", first_element)

First element of the nested tuple: 1

**17. Create a tuple with a single element.**

In [ ]:
single_element_tuple = (1,)
print(single_element_tuple)

(1,)

**18. Compare two tuples.**

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

##Check if the tuples are equal
if tuple1 == tuple2:
    print("Tuples are equal")
else:
    print("Tuples are not equal")

##Check if tuple1 is greater than tuple2
if tuple1 > tuple2:
    print("Tuple1 is greater than tuple2")
else:
    print("Tuple1 is not greater than tuple2")

Tuples are not equal
Tuple1 is not greater than tuple2

**19. Delete a tuple.**

In [ ]:
my_tuple = (1, 2, 3)
print("Original tuple:", my_tuple)

# Delete the tuple
del my_tuple

# Try to access the tuple after deletion
try:
    print("After deletion:", my_tuple)
except NameError:
    print("Tuple is deleted")

Original tuple: (1, 2, 3)
Tuple is deleted

**20. Slice a tuple.**

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

# Slice the tuple from index 1 to index 3 (exclusive)
slice_result = my_tuple[1:3]

print("Original tuple:", my_tuple)
print("Slice result:", slice_result)

Original tuple: (1, 2, 3, 4, 5)
Slice result: (2, 3)

**21. Find the maximum value in a tuple.**

In [ ]:
my_tuple = (10, 5, 20, 15, 24)

max_value = max(my_tuple)
print("Maximum value in the tuple:", max_value)

Maximum value in the tuple: 24

**22. Find the minimum value in a tuple.**

In [ ]:
my_tuple = (10, 5, 20, 15, 30)

min_value = min(my_tuple)
print("Minimum value in the tuple:", min_value)

Minimum value in the tuple: 5

**23. Convert a string to a tuple of characters.**

In [ ]:
my_string = "hello"

tuple_of_characters = tuple(my_string)
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('h', 'e', 'l', 'l', 'o')

**24. Convert a tuple of characters to a string.**

In [ ]:
tuple_of_characters = ('h', 'e', 'l', 'l', 'o')

string_from_tuple = ''.join(tuple_of_characters)
print("String from tuple:", string_from_tuple)

String from tuple: hello

**25. Create a tuple from multiple data types.**

In [ ]:
mixed_tuple = (18, "hello", 3.14, True)
print("Mixed tuple:", mixed_tuple)

Mixed tuple: (18, 'hello', 3.14, True)

**26. Check if two tuples are identical.**

In [ ]:
def identical_tuple(tuple_01, tuple_02):
  if tuple_01 == tuple_02:
      return("These two tuples are identical")
  else:
      return("These two tuples are not identical")


##Example usage
tuple_01 = (1, 2, 3, 4, 5)
tuple_02 = (1, 2, 3, 4, 5)
result = identical_tuple(tuple_01, tuple_02)
print(result)

These two tuples are identical

**27. Sort the elements of a tuple.**

In [ ]:
my_tuple = (3, 1, 4, 1, 5, 9, 2, 6, 5)

##Convert the tuple to a list
sorted_list = list(my_tuple)

##Sort the list
sorted_list.sort()

##Convert the sorted list back to a tuple
sorted_tuple = tuple(sorted_list)

print("Original tuple:", my_tuple)
print("Sorted tuple:", sorted_tuple)

Original tuple: (3, 1, 4, 1, 5, 9, 2, 6, 5)
Sorted tuple: (1, 1, 2, 3, 4, 5, 5, 6, 9)

**28. Convert a tuple of integers to a tuple of strings.**

In [ ]:
tuple_of_integers = (1, 2, 3, 4, 5)

##Convert the tuple of integers to a tuple of strings
tuple_of_strings = tuple(str(num) for num in tuple_of_integers)

print("Original tuple of integers:", tuple_of_integers)
print("Tuple of strings:", tuple_of_strings)

Original tuple of integers: (1, 2, 3, 4, 5)
Tuple of strings: ('1', '2', '3', '4', '5')

**29. Convert a tuple of strings to a tuple of integers.**

In [ ]:
tuple_of_strings = ('1', '2', '3', '4', '5')

##Convert the tuple of strings to a tuple of integers
tuple_of_integers = tuple(int(num) for num in tuple_of_strings)

print("Original tuple of strings:", tuple_of_strings)
print("Tuple of integers:", tuple_of_integers)

Original tuple of strings: ('1', '2', '3', '4', '5')
Tuple of integers: (1, 2, 3, 4, 5)

**30. Merge two tuples.**

In [ ]:
tuple_01 = (1, 2, 3, 4)
tuple_02 = (4, 5, 6)

merge_tuple = tuple_01 + tuple_02
print("The merged tuple is:", merge_tuple)

The merged tuple is: (1, 2, 3, 4, 4, 5, 6)

**31. Flatten a nested tuple.**

In [ ]:
def flatten_tuple(nested_tuple):
    for item in nested_tuple:
        if isinstance(item, tuple):
            yield from flatten_tuple(item)
        else:
            yield item

nested_tuple = ((1, 2), (3, (4, 5)), (6, 7))

flattened_tuple = tuple(flatten_tuple(nested_tuple))

print("Original nested tuple:", nested_tuple)
print("Flattened tuple:", flattened_tuple)

Original nested tuple: ((1, 2), (3, (4, 5)), (6, 7))
Flattened tuple: (1, 2, 3, 4, 5, 6, 7)

**32. Create a tuple of the first 5 prime numbers.**

In [ ]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

first_five_primes = tuple(filter(is_prime, range(2, 16)))

print("First 5 prime numbers:", first_five_primes)

First 5 prime numbers: (2, 3, 5, 7, 11, 13)

**33. Check if a tuple is a palindrome.**

In [ ]:
def check_palindrome(my_tuple):
  if my_tuple == my_tuple[::-1]:
    return "The tuple is a palindrome"
  else:
    return "The tuple is not a palindrome"

##Example usage
my_tuple = (1, 2, 3, 2, 1)
check = check_palindrome(my_tuple)
print(check)

The tuple is a palindrome

**34. Create a tuple of squares of numbers from 1 to 5.**

In [ ]:
squares_tuple = tuple(x ** 2 for x in range(1, 6))

print("Tuple of squares of numbers from 1 to 5:", squares_tuple)

Tuple of squares of numbers from 1 to 5: (1, 4, 9, 16, 25)

**35. Filter out all even numbers from a tuple.**

In [ ]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

##Filter out even numbers using a generator expression
filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)

print("Original tuple:", original_tuple)
print("Filtered tuple (odd numbers only):", filtered_tuple)

Original tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Filtered tuple (odd numbers only): (1, 3, 5, 7, 9)

**36. Multiply all elements in a tuple by 2.**

In [ ]:
original_tuple = (1, 2, 3, 4, 5)

##Multiply all elements by 2 using a generator expression
multiplied_tuple = tuple(x * 2 for x in original_tuple)

print("Original tuple:", original_tuple)
print("Multiplied tuple:", multiplied_tuple)

Original tuple: (1, 2, 3, 4, 5)
Multiplied tuple: (2, 4, 6, 8, 10)

**37. Create a tuple of random numbers.**

In [ ]:
import random

##Define the range and size of the tuple
start_range = 1
end_range = 100
tuple_size = 5

##Generate a tuple of random numbers
random_tuple = tuple(random.randint(start_range, end_range) for _ in range(tuple_size))

print("Random tuple:", random_tuple)

Random tuple: (95, 2, 21, 15, 58)

**38. Check if a tuple is sorted.**

In [ ]:
def is_sorted_tuple(input_tuple):
    return input_tuple == tuple(sorted(input_tuple))

##Test cases
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (5, 4, 3, 2, 1)

print("Is tuple1 sorted?", is_sorted_tuple(tuple1))
print("Is tuple2 sorted?", is_sorted_tuple(tuple2))

Is tuple1 sorted? True
Is tuple2 sorted? False

**39. Rotate a tuple to the left by `n` positions.**

In [ ]:
def rotate_tuple_left(input_tuple, n):
    if n < 0:
        n = len(input_tuple) + n  ##Convert negative rotation to positive
    return input_tuple[n:] + input_tuple[:n]

##Test case
original_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_tuple_left(original_tuple, 2)
print("Original tuple:", original_tuple)
print("Rotated tuple (left by 2 positions):", rotated_tuple)

Original tuple: (1, 2, 3, 4, 5)
Rotated tuple (left by 2 positions): (3, 4, 5, 1, 2)

**40. Rotate a tuple to the right by `n` positions.**

In [ ]:
def rotate_tuple_right(input_tuple, n):
    if n < 0:
        n = len(input_tuple) + n  ##Convert negative rotation to positive
    return input_tuple[-n:] + input_tuple[:-n]

##Test case
original_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_tuple_right(original_tuple, 2)
print("Original tuple:", original_tuple)
print("Rotated tuple (right by 2 positions):", rotated_tuple)

Original tuple: (1, 2, 3, 4, 5)
Rotated tuple (right by 2 positions): (4, 5, 1, 2, 3)

**41. Create a tuple of the first 5 Fibonacci numbers.**

In [ ]:
def generate_fibonacci(n):
    fibonacci_tuple = (0, 1)  ##Start with the first two Fibonacci numbers
    while len(fibonacci_tuple) < n:
        next_number = fibonacci_tuple[-1] + fibonacci_tuple[-2]
        fibonacci_tuple += (next_number,)  ##Add the next Fibonacci number to the tuple
    return fibonacci_tuple

##Create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

print("Tuple of the first 5 Fibonacci numbers:", fibonacci_tuple)

Tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

**42. Create a tuple from user input.**

In [ ]:
# Get input from the user and split it by commas
user_input = input("Enter elements separated by commas: ")

# Split the input string by commas and convert it into a tuple
user_tuple = tuple(user_input.split(','))

print("Tuple from user input:", user_tuple)

Enter elements separated by commas: 1,5,7,9,1,6,6,4,5,,44,5,8
Tuple from user input: ('1', '5', '7', '9', '1', '6', '6', '4', '5', '', '44', '5', '8')

**43. Swap two elements in a tuple.**

In [ ]:
def swap_elements(input_tuple, index1, index2):
    temp_list = list(input_tuple)       ##Convert the tuple to a list to modify it
    temp_list[index1], temp_list[index2] = temp_list[index2], temp_list[index1] ##Swap the elements at the specified indices using tuple unpacking
    return tuple(temp_list)   ##Convert the list back to a tuple and return it

##Original tuple
original_tuple = (1, 2, 3, 4, 5)
print("Original tuple:", original_tuple)

##Swap elements at index 1 and index 3
swapped_tuple = swap_elements(original_tuple, 1, 3)
print("Swapped tuple:", swapped_tuple)

Original tuple: (1, 2, 3, 4, 5)
Swapped tuple: (1, 4, 3, 2, 5)

**44. Reverse the elements of a tuple.**

In [ ]:
def reverse_tuple(input_tuple):
    ##Use slicing to reverse the tuple
    reversed_tuple = input_tuple[::-1]
    return reversed_tuple

##Original tuple
original_tuple = (1, 2, 3, 4, 5)
print("Original tuple:", original_tuple)

##Reverse the tuple
reversed_tuple = reverse_tuple(original_tuple)
print("Reversed tuple:", reversed_tuple)

Original tuple: (1, 2, 3, 4, 5)
Reversed tuple: (5, 4, 3, 2, 1)

**45. Create a tuple of the first `n` powers of 2.**

In [ ]:
def powers_of_2(n):
    powers = [2 ** i for i in range(n)]   ##Generate the first n powers of 2 using list comprehension
    powers_tuple = tuple(powers)        ##Convert the list of powers into a tuple
    return powers_tuple

n = 5                                   ##Number of powers to generate
powers_tuple = powers_of_2(n)          ##Create a tuple of the first n powers of 2
print("Tuple of the first", n, "powers of 2:", powers_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

**46. Find the longest string in a tuple of strings.**

In [ ]:
def longest_string_in_tuple(input_tuple):
    longest_string = ""                         ##Initialize the longest string variable with an empty string
    for string in input_tuple:                  ##Iterate over each string in the tuple
        if len(string) > len(longest_string):    ##Check if the current string is longer than the longest string
            longest_string = string            ##Update the longest string
    return longest_string

##Example tuple of strings
string_tuple = ("ocean", "sunset", "coconut", "pizza", "vacation")

##Find the longest string in the tuple
longest = longest_string_in_tuple(string_tuple)
print("Longest string in the tuple:", longest)

Longest string in the tuple: vacation

**47. Find the shortest string in a tuple of strings.**

In [ ]:
def shortest_string_in_tuple(input_tuple):
    shortest_string = None                ##Initialize the shortest string variable with a large value
    for string in input_tuple:              ##Iterate over each string in the tuple
        if shortest_string is None or len(string) < len(shortest_string):   ##Check if the shortest string is None or the current string is shorter
            shortest_string = string                                      ##Update the shortest string
    return shortest_string

##Example tuple of strings
string_tuple = ("ocean", "sunset", "coconut", "pizza", "vacation")

##Find the shortest string in the tuple
shortest = shortest_string_in_tuple(string_tuple)
print("Shortest string in the tuple:", shortest)

Shortest string in the tuple: ocean

**48. Create a tuple of the first `n` triangular numbers.**

In [ ]:
def triangular_numbers(n):
    ##Generate the first n triangular numbers using list comprehension
    triangular_nums = [i * (i + 1) // 2 for i in range(1, n + 1)]

    ##Convert the list of triangular numbers into a tuple
    triangular_tuple = tuple(triangular_nums)
    return triangular_tuple

##Number of triangular numbers to generate
n = 5

##Create a tuple of the first n triangular numbers
triangular_tuple = triangular_numbers(n)
print("Tuple of the first", n, "triangular numbers:", triangular_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

**49. Check if a tuple contains another tuple as a subsequence.**

In [ ]:
def contains_subsequence(main_tuple, sub_tuple):
    for i in range(len(main_tuple) - len(sub_tuple) + 1):       ##Iterate over the elements of the main tuple
        if main_tuple[i:i+len(sub_tuple)] == sub_tuple:         ##Check if the current subsequence matches the sub_tuple
            return True                                       ##Subsequence found
    return False                                              ##Subsequence not found

##Example tuples
main_tuple = (1, 2, 3, 4, 5, 6, 7)
sub_tuple = (3, 4, 5)

##Check if the main tuple contains the sub_tuple as a subsequence
result = contains_subsequence(main_tuple, sub_tuple)
print("Does the main tuple contain the sub_tuple as a subsequence?", result)

Does the main tuple contain the sub_tuple as a subsequence? True

**50. Create a tuple of alternating 1s and 0s of length `n`.**

In [ ]:
def alternating_tuple(n):
    ##Generate alternating 1s and 0s using list comprehension
    alternating_sequence = [1 if i % 2 == 0 else 0 for i in range(n)]

    ##Convert the list into a tuple
    alternating_tuple = tuple(alternating_sequence)
    return alternating_tuple

##Length of the alternating tuple
n = 10

##Create a tuple of alternating 1s and 0s of length n
result_tuple = alternating_tuple(n)
print("Tuple of alternating 1s and 0s of length", n, ":", result_tuple)

Tuple of alternating 1s and 0s of length 10 : (1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

# Set Based Practice Problem

**1. Create a set with integers from 1 to 5.**

In [ ]:
def create_set(n):
    my_set = set(range(1, n + 1))
    return my_set

##Example usage:
n = 5
result_set = create_set(n)
print(result_set)

{1, 2, 3, 4, 5}

**2. Add an element to a set.**

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

**3. Remove an element from a set.**

In [ ]:
my_set = {1, 2, 3, 4, 5, 6, 7}
my_set.discard(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

**4. Check if an element exists in a set.**

In [ ]:
def check_element_existence(my_set, element):
    return element in my_set

##Example usage:
my_set = {1, 2, 3, 4, 5}
element_to_check = 7
if check_element_existence(my_set, element_to_check):
    print(f"{element_to_check} exists in the set")
else:
    print(f"{element_to_check} does not exist in the set")

7 does not exist in the set

**5. Find the length of a set without using the `len()` function.**

In [ ]:
def find_set_length(my_set):
    length = 0
    for i in my_set:
        length += 1
    return length

##Example usage:
my_set = {1, 2, 3, 4, 5, 6, 7}
length = find_set_length(my_set)
print("Length of the set:", length)

Length of the set: 7

**6. Clear all elements from a set.**

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

**7. Create a set of even numbers from 1 to 10.**

In [ ]:
even_numbers_set = set(x for x in range(1, 11) if x % 2 == 0)
print(even_numbers_set)

{2, 4, 6, 8, 10}

**8. Create a set of odd numbers from 1 to 10.**

In [ ]:
odd_numbers_set = set(x for x in range(1, 11) if x % 2 != 0)
print(odd_numbers_set)

{1, 3, 5, 7, 9}

**9. Find the union of two sets.**

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

**10. Find the intersection of two sets.**

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

**11. Find the difference between two sets.**

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1 - set2
print(difference_set)

{1, 2}

**12. Check if a set is a subset of another set.**

In [ ]:
set1 = {1, 2, 3, 7}
set2 = {1, 2, 3, 4, 5}
if set1.issubset(set2):
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

set1 is not a subset of set2

**13. Check if a set is a superset of another set.**

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
if set1.issuperset(set2):
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

**14. Create a set from a list.**

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

**15. Convert a set to a list.**

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
print(my_list)

[1, 2, 3, 4, 5]

**16. Remove a random element from a set.**

In [ ]:
my_set = {1, 2, 3, 4, 5}
removed_element = my_set.pop()
print("Removed element:", removed_element)
print("Set after removal:", my_set)

Removed element: 1
Set after removal: {2, 3, 4, 5}

**17. Pop an element from a set.**

In [ ]:
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()
print("Popped element:", popped_element)
print("Set after popping:", my_set)

Popped element: 1
Set after popping: {2, 3, 4, 5}

**18. Check if two sets have no elements in common.**

In [ ]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
if set1.isdisjoint(set2):
    print("The sets have no elements in common")
else:
    print("The sets have at least one element in common")

The sets have no elements in common

**19. Find the symmetric difference between two sets.**

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)

{1, 2, 5, 6}

**20. Update a set with elements from another set.**

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5}

**21. Create a set of the first 5 prime numbers.**

In [ ]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = set()
num = 2
while len(prime_numbers) < 5:
    if is_prime(num):
        prime_numbers.add(num)
    num += 1

print(prime_numbers)

{2, 3, 5, 7, 11}

**22. Check if two sets are identical.**

In [ ]:
def are_sets_identical(set1, set2):
    return set1 == set2

##Example usage:
set1 = {1, 2, 3}
set2 = {1, 4, 3}

if are_sets_identical(set1, set2):
    print("The sets are identical")
else:
    print("The sets are not identical")

The sets are not identical

**23. Create a frozen set.**

In [ ]:
my_set = {1, 2, 3, 4, 5}
frozen_set = frozenset(my_set)
print(frozen_set)

frozenset({1, 2, 3, 4, 5})

**24. Check if a set is disjoint with another set.**

In [ ]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The sets are disjoint")
else:
    print("The sets are not disjoint")

The sets are disjoint

**25. Create a set of squares of numbers from 1 to 5.**

In [ ]:
squares_set = {x ** 2 for x in range(1, 6)}
print(squares_set)

{1, 4, 9, 16, 25}

**26. Filter out all even numbers from a set.**

In [ ]:
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
filtered_set = {x for x in original_set if x % 2 != 0}
print(filtered_set)

{1, 3, 5, 7, 9}

**27. Multiply all elements in a set by 2.**

In [ ]:
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
multiplied_set = {x * 2 for x in original_set}
print(multiplied_set)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

**28. Create a set of random numbers.**

In [ ]:
import random

##Generate a set of 5 random integers between 1 and 10
random_set = set(random.sample(range(1, 11), 5))
print(random_set)

{1, 2, 6, 7, 10}

**29. Check if a set is empty.**

In [ ]:
my_set = set()

if not my_set:
    print("The set is empty")
else:
    print("The set is not empty")

The set is empty

**30. Create a nested set (hint: use frozenset).**

In [ ]:
nested_set = {frozenset({1, 2}), frozenset({'a', 'b', 'c'})}
print(nested_set)

{frozenset({'b', 'a', 'c'}), frozenset({1, 2})}

**31. Remove an element from a set using the discard method.**

In [ ]:
my_set = {1, 2, 3, 4, 5, 6, 7}
my_set.discard(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

**32. Compare two sets.**

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

##Check if set1 is equal to set2
if set1 == set2:
    print("The sets are equal")
else:
    print("The sets are not equal")

##Check if set1 is a subset of set2
if set1 <= set2:
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

##Check if set1 is a proper subset of set2
if set1 < set2:
    print("set1 is a proper subset of set2")
else:
    print("set1 is not a proper subset of set2")

##Check if set1 is a superset of set2
if set1 >= set2:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

##Check if set1 is a proper superset of set2
if set1 > set2:
    print("set1 is a proper superset of set2")
else:
    print("set1 is not a proper superset of set2")

The sets are not equal
set1 is not a subset of set2
set1 is not a proper subset of set2
set1 is not a superset of set2
set1 is not a proper superset of set2

**33. Create a set from a string.**

In [ ]:
my_string = "hello"
my_set = set(my_string)
print(my_set)

{'h', 'e', 'o', 'l'}

**34. Convert a set of strings to a set of integers.**

In [ ]:
string_set = {"1", "2", "3", "4", "5"}
integer_set = {int(x) for x in string_set}
print(integer_set)

{1, 2, 3, 4, 5}

**35. Convert a set of integers to a set of strings.**

In [ ]:
integer_set = {1, 2, 3, 4, 5}
string_set = {str(x) for x in integer_set}
print(string_set)

{'4', '5', '1', '3', '2'}

**36. Create a set from a tuple.**

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)
print(my_set)

{1, 2, 3, 4, 5}

**37. Convert a set to a tuple.**

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_tuple = tuple(my_set)
print(my_tuple)

(1, 2, 3, 4, 5)

**38. Find the maximum value in a set.**

In [ ]:
my_set = {1, 2, 3, 4, 5}
max_value = max(my_set)
print("Maximum value in the set:", max_value)

Maximum value in the set: 5

**39. Find the minimum value in a set.**

In [ ]:
my_set = {1, 2, 3, 4, 5}
min_value = min(my_set)
print("Minimum value in the set:", min_value)

Minimum value in the set: 1

**40. Create a set from user input.**

In [ ]:
user_input = input("Enter elements separated by spaces: ")
elements = user_input.split()  ##Split the input string by spaces to get individual elements
user_set = set(elements)
print("Set from user input:", user_set)

Enter elements separated by spaces: 2 1 8 rd 7
Set from user input: {'7', 'rd', '8', '1', '2'}

**41. Check if the intersection of two sets is empty.**

In [ ]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The intersection of the sets is empty")
else:
    print("The intersection of the sets is not empty")

The intersection of the sets is empty

**42. Create a set of the first 5 Fibonacci numbers.**

In [ ]:
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set

##Generate the first 5 Fibonacci numbers
fibonacci_numbers = generate_fibonacci(5)
print("Set of the first 5 Fibonacci numbers:", fibonacci_numbers)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

**43. Remove duplicates from a list using sets.**

In [ ]:
original_list = [1, 2, 3, 4, 2, 3, 5]
unique_list = list(set(original_list))
print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

**44. Check if two sets have the same elements, regardless of their count.**

In [ ]:
set1 = {1, 2, 1, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets have the same elements, regardless of their count")
else:
    print("The sets do not have the same elements, regardless of their count")

The sets have the same elements, regardless of their count

**45. Create a set of the first `n` powers of 2.**

In [ ]:
def powers_of_2(n):
    return {2 ** i for i in range(n)}

n = 5
powers_set = powers_of_2(n)
print("Set of the first", n, "powers of 2:", powers_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

**46. Find the common elements between a set and a list.**

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_list = [4, 5, 6, 7, 8]

common_elements = my_set.intersection(my_list)
print("Common elements:", common_elements)

Common elements: {4, 5}

**47. Create a set of the first `n` triangular numbers.**

In [ ]:
def triangular_numbers(n):
    return {i * (i + 1) // 2 for i in range(1, n + 1)}

n = 5
triangular_set = triangular_numbers(n)
print("Set of the first", n, "triangular numbers:", triangular_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

**48. Check if a set contains another set as a subset.**

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

**49. Create a set of alternating 1s and 0s of length `n`.**

In [ ]:
def alternating_set(n):
    return {1 if i % 2 == 0 else 0 for i in range(n)}

n = 6
alternating_set_result = alternating_set(n)
print("Set of alternating 1s and 0s of length", n, ":", alternating_set_result)

Set of alternating 1s and 0s of length 6 : {0, 1}

**50. Merge multiple sets into one.**

In [ ]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = {7, 8, 9}

merged_set = set1 | set2 | set3
print("Merged set using | operator:", merged_set)

Merged set using | operator: {1, 2, 3, 4, 5, 6, 7, 8, 9}