# Basic Level:

**1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.**

In [ ]:
def print_num(n):
  numbers = []
  for i in range (1, n+1):
    numbers.append(i)
  return numbers

n = 10
num = print_num(n)
print("Printing 1 to 10 using for loop:", num)

Printing 1 to 10 using for loop: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**2. Create a program that calculates the sum of all numbers in a list using a `for` loop.**

In [ ]:
def calculate_sum(L):
  sum = 0
  for i in L:
    sum += i
  return sum

L = [2, 3, 5]
result = calculate_sum(L)
print("The summation of all numbers in the list is:", result)

The summation of all numbers in the list is: 10

**3. Write a program to print the characters of a string in reverse order using a `for` loop.**

In [ ]:
def reverse_string(string):
    reversed_string = ""
    for char in reversed(string):
        reversed_string += char
    return reversed_string

input_string = input("Enter a string: ")
reversed_string = reverse_string(input_string)
print("String in reverse order:", reversed_string)

Enter a string: relax
String in reverse order: xaler

**4. Develop a program that finds the factorial of a given number using a `for` loop.**

In [ ]:
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

##Example
num = int(input("Enter a number to find its factorial: "))

##Calculate factorial
fact = factorial(num)

##Output
print("Factorial of", num, "is:", fact)

Enter a number to find its factorial: 7
Factorial of 7 is: 5040

**5. Create a program to print the multiplication table of a given number using a `for` loop.**

In [ ]:
def multiplication_table(number):
    print("Multiplication Table of", number)
    print("---------------------------")
    for i in range(1, 11):
        print(number, "X", i, "=", number * i)

##Input
num = int(input("Enter a number to print its multiplication table: "))

##Print multiplication table
multiplication_table(num)

Enter a number to print its multiplication table: 10
Multiplication Table of 10
---------------------------
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

**6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.**

In [ ]:
def count_even_odd(numbers):
    even_count = 0
    odd_count = 0
    for num in numbers:
        if num % 2 == 0:
            even_count += 1
        else:
            odd_count += 1
    return even_count, odd_count

##Input
numbers = [int(x) for x in input("Enter a list of numbers separated by space: ").split()]

##Count even and odd numbers
even_count, odd_count = count_even_odd(numbers)

##Output
print("Number of even numbers:", even_count)
print("Number of odd numbers:", odd_count)

Enter a list of numbers separated by space: 2
Number of even numbers: 1
Number of odd numbers: 0

**7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.**

In [ ]:
def square_num(n):
  numbers = []
  for i in range(1, n+1):
    numbers.append(i**2)
  return numbers

##Example usage
n = 5
result = square_num(n)
print(result)

[1, 4, 9, 16, 25]

**8. Create a program to find the length of a string without using the `len()` function.**

In [ ]:
def string_length(string):
    count = 0
    for char in string:
        count += 1
    return count

##Input
input_string = input("Enter a string: ")

##Calculate length of string
length = string_length(input_string)

##Output
print("Length of the string:", length)

Enter a string: graph
Length of the string: 5

**9. Write a program that calculates the average of a list of numbers using a `for` loop.**

In [ ]:
def calculate_average(numbers):
    total = 0
    for num in numbers:
        total += num
    return total / len(numbers)

##Input
numbers = [float(x) for x in input("Enter a list of numbers separated by space: ").split()]

##Calculate average
average = calculate_average(numbers)

##Output
print("Average of the numbers:", average)

Enter a list of numbers separated by space: 5 8 7 2 3
Average of the numbers: 5.0

**10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.**

In [ ]:
def fibonacci_numbers(n):
    fib_list = [0, 1]            ##Initialize with the first two Fibonacci numbers
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return fib_list
    else:
        for i in range(2, n):
            fib_list.append(fib_list[-1] + fib_list[-2])
        return fib_list

##Input
n = int(input("Enter the number of Fibonacci numbers to print: "))

##Generate and print Fibonacci numbers
fibonacci_sequence = fibonacci_numbers(n)
print("Fibonacci numbers:", fibonacci_sequence)

Enter the number of Fibonacci numbers to print: 7
Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8]

# Intermediate Level:

**11. Write a program to check if a given list contains any duplicates using a `for` loop.**

In [ ]:
def check_duplicate(L):
  for elements in L:
    if L.count(elements) > 1:
      return "This list contains duplicate"
  return "This list contains no duplicates"

##Example usage
L = [1, 2, 3, 3, 4, 5]
result = check_duplicate(L)
print(result)

This list contains duplicate

**12. Create a program that prints the prime numbers in a given range using a `for` loop.**

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

def print_prime_in_range(start, end):
    print("Prime numbers between", start, "and", end, "are:")
    for num in range(start, end + 1):
        if is_prime(num):
            print(num)

##Example usage
start_range = int(input("Enter the start of the range: "))
end_range = int(input("Enter the end of the range: "))

print_prime_in_range(start_range, end_range)

Enter the start of the range: 2
Enter the end of the range: 29
Prime numbers between 2 and 29 are:
2
3
5
7
11
13
17
19
23
29

**13. Develop a program that counts the number of vowels in a string using a `for` loop.**

In [ ]:
def count_vowels(string):
    vowels = 'aeiouAEIOU'
    vowel_count = 0
    for char in string:
        if char in vowels:
            vowel_count += 1
    return vowel_count

##Example usage
input_string = input("Enter a string: ")
print("Number of vowels in the string is:", count_vowels(input_string))

Enter a string: delay
Number of vowels in the string is: 2

**14. Write a program to find the maximum element in a 2D list using a nested `for` loop.**

In [ ]:
def find_max_2d(arr):
    max_element = float('-inf')  ##Initialize with negative infinity
    for row in arr:
        for element in row:
            if element > max_element:
                max_element = element
    return max_element

##Example usage
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 10]
]

maximum = find_max_2d(matrix)
print("Maximum element in the 2D list:", maximum)

Maximum element in the 2D list: 10

**15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.**

In [ ]:
def remove_specific_element(specific_element, L):
  for element in L:
    if element == specific_element:
      L.remove(specific_element)
  return f"List without the specific element is {L}"

##Example usage
specific_element = input("Enter the specific element you want to remove from list: ").lower()
L = ["coconut", "pistachio", "butter", "garlic", "chocolate"]
result = remove_specific_element(specific_element, L)
print(result)

Enter the specific element you want to remove from list: chocolate
List without the specific element is ['coconut', 'pistachio', 'butter', 'garlic']

**16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.**

In [ ]:
def multiplication_table(start, end):
  for i in range(start, end + 1):

    ##Print the header row for the current number
    print(f"Multiplication table for {i}:")

    ##Iterate over each multiplier from 1 to 10
    for j in range(1, 11):

        ##Calculate the product and print it
        product = i * j
        print(f"{i} * {j} = {product}")

    ##Print an empty line between tables
    print()


# Define the range of numbers for the multiplication table
start_number = 1
end_number = 5

# Generate the multiplication table
multiplication_table(start_number, end_number)

Multiplication table for 1:
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

Multiplication table for 2:
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Multiplication table for 3:
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

Multiplication table for 4:
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

Multiplication table for 5:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

**17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.**

In [ ]:
def fahrenheit_to_celsius(fahrenheit_temps):
    celsius_temps = []
    for temp in fahrenheit_temps:
        celsius = (temp - 32) * 5.0/9.0
        celsius_temps.append(celsius)
        print(f"{temp}°F is {celsius:.2f}°C")
    return celsius_temps

fahrenheit_temps = [32, 45, 64, 72, 89]
celsius_temps = fahrenheit_to_celsius(fahrenheit_temps)

32°F is 0.00°C
45°F is 7.22°C
64°F is 17.78°C
72°F is 22.22°C
89°F is 31.67°C

**18. Create a program to print the common elements from two lists using a `for` loop.**

In [ ]:
def common_elements(list1, list2):
    common_elements = []
    for element in list1:
        if element in list2:
            common_elements.append(element)
            return common_elements
            break

##Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
result = common_elements(list1, list2)
print("Common elements between two lists are:", result)

Common elements between two lists are: [3]

**19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the pattern**

In [ ]:
def right_angled_triangle(n):
    for i in range(1, n + 1):
        print('*' * i)

##Example usage
n = 5
right_angled_triangle(n)

*
**
***
****
*****

**20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.**

In [ ]:
def find_gcd(a, b):
    for i in range(min(a, b), 0, -1):
        if a % i == 0 and b % i == 0:
            return i

##Example usage
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
print("The GCD of", num1, "and", num2, "is:", find_gcd(num1, num2))

Enter the first number: 24
Enter the second number: 72
The GCD of 24 and 72 is: 24

# Advanced Level:

**21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.**

In [ ]:
def sum_of_digits(numbers):
    return [sum(int(digit) for digit in str(number)) for number in numbers]

##Example usage:
numbers = [123, 45, 678, 9]
result = sum_of_digits(numbers)
print("Sum of digits for each number:", result)

Sum of digits for each number: [6, 9, 21, 9]

**22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.**

In [ ]:
def prime_factors(n):
    factors = [x for x in range(2, n + 1) if n % x == 0]
    prime_factors = []
    for factor in factors:
        if all(factor % i != 0 for i in range(2, int(factor ** 0.5) + 1)):
            prime_factors.append(factor)
            return prime_factors

##Example usage
number = int(input("Enter a number: "))
print("Prime factors of", number, "are:", prime_factors(number))

Enter a number: 10
Prime factors of 10 are: [2]

**23. Develop a program that extracts unique elements from a list and stores them in a new list using a list comprehension.**

In [ ]:
def extract_unique_elements(input_list):
    unique_elements = [x for i, x in enumerate(input_list) if x not in input_list[:i]]
    return unique_elements

##Example usage
input_list = [1, 2, 2, 3, 4, 4, 5, 6, 6]
unique_elements = extract_unique_elements(input_list)
print("Unique elements:", unique_elements)

Unique elements: [1, 2, 3, 4, 5, 6]

**24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.**

In [ ]:
def is_palindrome(number):
    return str(number) == str(number)[::-1]

def generate_palindromic_numbers(limit):
    palindromic_numbers = [num for num in range(1, limit + 1) if is_palindrome(num)]
    return palindromic_numbers

##Example usage
limit = int(input("Enter the limit: "))
palindromic_numbers = generate_palindromic_numbers(limit)
print("Palindromic numbers up to", limit, "are:", palindromic_numbers)

Enter the limit: 7
Palindromic numbers up to 7 are: [1, 2, 3, 4, 5, 6, 7]

**25. Write a program to flatten a nested list using list comprehension.**

In [ ]:
def flatten(nested_list):
    return [item for sublist in nested_list for item in sublist]

# Example usage
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
flattened_list = flatten(nested_list)

print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8]

**26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.**

In [ ]:
def sum_even_odd(numbers):
    even_sum = sum([num for num in numbers if num % 2 == 0])
    odd_sum = sum([num for num in numbers if num % 2 != 0])
    return even_sum, odd_sum

##Example usage
result = sum_even_odd([1, 2, 3, 4, 5, 6])
print("the sum of even and odd numbers are as follows: ", result)

the sum of even and odd numbers are as follows:  (12, 9)

**27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.**

In [ ]:
def squares_of_odd_numbers():
    return [x ** 2 for x in range(1, 11) if x % 2 != 0]

##Example usage
squares = squares_of_odd_numbers()
print("Squares of odd numbers between 1 and 10:", squares)

Squares of odd numbers between 1 and 10: [1, 9, 25, 49, 81]

**28. Write a program that combines two lists into a dictionary using list comprehension.**

In [ ]:
def combine_lists_to_dict(keys, values):
    return {keys[i]: values[i] for i in range(min(len(keys), len(values)))}

##Example usage
keys = ['x', 'y', 'z']
values = [1, 2, 3]
result = combine_lists_to_dict(keys, values)
print("Combined dictionary:", result)

Combined dictionary: {'x': 1, 'y': 2, 'z': 3}

**29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.**

In [ ]:
def extract_vowels(string):
    vowels = [char for char in string if char.lower() in 'aeiou']
    return vowels

##Example usage
input_string = input("Enter a string: ")
vowels = extract_vowels(input_string)
print("Vowels in the string:", vowels)

Enter a string: vowel
Vowels in the string: ['o', 'e']

**30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.**

In [ ]:
def remove_non_numeric(strings):
    return [''.join(char for char in string if char.isdigit()) for string in strings]

##Example usage
revised_strings = remove_non_numeric(['Riya241', 'bpes35', '294'])
print(revised_strings)

['241', '35', '294']

# Challenge Level:

**31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.**

In [ ]:
def sieve_of_eratosthenes(limit):
    sieve = [True] * (limit + 1)
    sieve[0] = sieve[1] = False
    for i in range(2, int(limit ** 0.5) + 1):
        if sieve[i]:
            # Set multiples of i to False
            sieve[i * i : limit + 1 : i] = [False] * len(sieve[i * i : limit + 1 : i])

    # Return list of prime numbers
    return [i for i, is_prime in enumerate(sieve) if is_prime]

# Example usage
limit = int(input("Enter the limit: "))
prime_numbers = sieve_of_eratosthenes(limit)
print("Prime numbers up to", limit, "are:", prime_numbers)

Enter the limit: 5
Prime numbers up to 5 are: [2, 3, 5]

**32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.**

In [ ]:
limit = 30  # Specify the limit

pythagorean_triplets = [(a, b, c)
                        for a in range(1, limit + 1)
                        for b in range(a, limit + 1)
                        for c in range(b, limit + 1)
                        if a**2 + b**2 == c**2]

print(pythagorean_triplets)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (10, 24, 26), (12, 16, 20), (15, 20, 25), (18, 24, 30), (20, 21, 29)]

**33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.**

In [ ]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

combinations = [(x, y) for x in list1 for y in list2]

print(combinations)

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

**34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.**

In [ ]:
from collections import Counter

numbers = [1, 2, 2, 3, 4, 5, 5, 5, 6, 7]

# Calculate mean
mean = sum(numbers) / len(numbers)

# Calculate median
sorted_numbers = sorted(numbers)
n = len(numbers)
median = (sorted_numbers[n // 2] if n % 2 != 0 else (sorted_numbers[n // 2 - 1] + sorted_numbers[n // 2]) / 2)

# Calculate mode
mode_data = Counter(numbers)
max_count = max(mode_data.values())
mode = [num for num, count in mode_data.items() if count == max_count]

print(f"Mean: {mean}")
print(f"Median: {median}")
print(f"Mode: {mode}")

Mean: 4.0
Median: 4.5
Mode: [5]

**35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.**

In [ ]:
n = 5  # Specify the number of rows

pascals_triangle = []

for j in range(n):
    row = [1 if i == 0 or i == j else pascals_triangle[j-1][i-1] + pascals_triangle[j-1][i] for i in range(j + 1)]
    pascals_triangle.append(row)

for row in pascals_triangle:
    print(row)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

**36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.**

In [ ]:
import math

# Calculate the sum of the digits of the factorial for numbers from 1 to 5
factorial_digit_sums = [sum(int(digit) for digit in str(math.factorial(num))) for num in range(1, 6)]

print(factorial_digit_sums)

[1, 2, 6, 6, 3]

**37. Write a program that finds the longest word in a sentence using list comprehension.**

In [ ]:
sentence = "Python is a programming language"

# Find the longest word
longest_word = max([word for word in sentence.split()], key=len)

print(f"The longest word is: {longest_word}")

The longest word is: programming

**38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension.**

In [ ]:
def filter_strings_with_vowels(strings):
    return [s for s in strings if sum(1 for char in s.lower() if char in 'aeiou') >= 3]

# Example usage
strings = ["hello", "beautiful", "world", "amazing", "sky"]
filtered_strings = filter_strings_with_vowels(strings)
print(filtered_strings)

['beautiful', 'amazing']

**39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.**

In [ ]:
# Calculate the sum of the digits of numbers from 1 to 1000
digit_sum = sum(sum(int(digit) for digit in str(num)) for num in range(1, 1001))

print(digit_sum)

13501

**40. Write a program that generates a list of prime palindromic numbers using list comprehension.**

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

def is_palindrome(n):
    return str(n) == str(n)[0:]

# Generate prime palindromic numbers within a range (e.g., 1 to 1000)
prime_palindromes = [n for n in range(1, 1001) if is_prime(n) and is_palindrome(n)]

print(prime_palindromes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]